<div class="p-3 mb-3 bg-white">
    <p-table #dt [value]="emailconfigList">
        <ng-template pTemplate="caption">
            <div class="table-header">
                <h5 class="mb-3">Email Configuration For Dealer Sales Call Issue</h5>
                <div class="row">

                    <div class="col-md-12 text-right">
                        <button class="btn btn-sm btn-primary mr-2 pull-right" (click)="add()">New Record</button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="businessArea">Business Area <p-sortIcon field="businessArea"></p-sortIcon>
                </th>
                <th pSortableColumn="dealerSalesIssueCategory.dropdownName">Issue Category<p-sortIcon
                        field="dealerSalesIssueCategory.dropdownName"></p-sortIcon>
                </th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
                </th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-emailconfig>
            <tr>
                <td>{{emailconfig.businessArea}}</td>
                <td>{{emailconfig.dealerSalesIssueCategory?.dropdownName }}</td>
                <td>{{emailconfig.email}}</td>

                <td>
                    <i class="fa fa-edit mr-2" style="cursor: pointer;" (click)="edit(emailconfig.id)"> </i>
                    <i class="fa fa-trash" style="cursor: pointer;color: red;" (click)="delete(emailconfig.id)"> </i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>