<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">{{getComponentTitle()}}</div>
        <!-- <div class="btn-actions-pane-right">
            <button type="button" class="mb-2 mr-2 btn-transition btn btn-outline-success" (click)="fnRouteProdList()">
                <fa class="mr-2" name="list"></fa>
                Back to list
            </button>
        </div> -->
    </div>
    <div class="card-body">
        <form [formGroup]="focusDealerForm" (ngSubmit)="onSubmit()" *ngIf="focusDealerForm">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Territory</label>
                        <ng-select formControlName="territoryId" [multiple]="false" [virtualScroll]="true">
                            <!-- <ng-option>--Select--</ng-option> -->
                            <ng-option *ngFor="let dl of dealers;" [value]="dl.id">{{dl.customerName}}</ng-option>
                        </ng-select>
                        <small class="text-danger"
                            *ngIf="formControls.dealerId.touched && formControls.dealerId.errors">
                            <span *ngIf="formControls.dealerId.errors.required">Dealer is
                                <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Dealer</label>
                        <ng-select formControlName="dealerId" [multiple]="false" [virtualScroll]="true">
                            <!-- <ng-option>--Select--</ng-option> -->
                            <ng-option *ngFor="let dl of dealers;" [value]="dl.id">{{dl.customerName}}</ng-option>
                        </ng-select>
                        <small class="text-danger"
                            *ngIf="formControls.dealerId.touched && formControls.dealerId.errors">
                            <span *ngIf="formControls.dealerId.errors.required">Dealer is
                                <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Employee</label>
                        <ng-select formControlName="employeeId" [multiple]="false" [virtualScroll]="true">
                            <!-- <ng-option>--Select--</ng-option> -->
                            <ng-option *ngFor="let em of users;" [value]="em.employeeId">{{em.fullName}}</ng-option>
                        </ng-select>
                        <small class="text-danger"
                            *ngIf="formControls.employeeId.touched && formControls.employeeId.errors">
                            <span *ngIf="formControls.employeeId.errors.required">Employee is
                                <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">From Date</label>
                        <div class="input-group w-100">
                            <input type="text" class="form-control" formControlName="validFrom" [ngClass]="{
                            'is-valid':
                                formControls.validFrom.touched &&
                                !formControls.validFrom.errors,
                            'is-invalid':
                                formControls.validFrom.touched &&
                                formControls.validFrom.errors
                            }" name="dpFromDate" ngbDatepicker #dpFromDate="ngbDatepicker" [placement]="'bottom'"
                                placeholder="yyyy-mm-dd" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="dpFromDate.toggle()"
                                    type="button"></button>
                            </div>
                        </div>
                        <small class="text-danger" *ngIf="
                            (formControls.validFrom.touched &&
                            formControls.validFrom.errors) ||
                            (formControls.validFrom.touched &&
                            formControls.validFrom.invalid)
                        ">
                            <span *ngIf="formControls.validFrom.errors.required">From Date is
                                <strong>required</strong></span>
                            <span
                                *ngIf="!formControls.validFrom.errors.required && formControls.validFrom.invalid">Please,
                                Enter valid date (Ex: yyyy-mm-dd)</span>
                        </small>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">To Date</label>
                        <div class="input-group w-100">
                            <input type="text" class="form-control" formControlName="validTo" name="dpToDate" [ngClass]="{
                            'is-valid':
                                formControls.validTo.touched &&
                                !formControls.validTo.errors,
                            'is-invalid':
                                formControls.validTo.touched &&
                                formControls.validTo.errors
                            }" ngbDatepicker #dpToDate="ngbDatepicker" [placement]="'bottom'"
                                placeholder="yyyy-mm-dd" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="dpToDate.toggle()"
                                    type="button"></button>
                            </div>
                        </div>
                        <small class="text-danger" *ngIf="
                            (formControls.validTo.touched &&
                            formControls.validTo.errors) ||
                            (formControls.validTo.touched &&
                            formControls.validTo.invalid)
                        ">
                            <span *ngIf="formControls.validTo.errors.required">To Date is
                                <strong>required</strong></span>
                            <span *ngIf="!formControls.validTo.errors.required && formControls.validTo.invalid">Please,
                                Enter valid date (Ex: yyyy-mm-dd)</span>
                        </small>
                    </div>
                </div>

                <!-- <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Status</label>
                        <ng-select formControlName="status"> -->
                <!-- <ng-option>--Select--</ng-option> -->
                <!-- <ng-option *ngFor="let st of actInStatusTypes;" [value]="st.id">{{st.label}}</ng-option>
                        </ng-select>
                        <small class="text-danger" *ngIf="formControls.status.touched && formControls.status.errors">
                            <span *ngIf="formControls.status.errors.required">Status is <strong>required</strong></span>
                        </small>
                    </div>
                </div> -->
            </div>

            <div class="d-flex justify-content-end">
                <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="goBack()"><i
                        class="pe-7s-back pr-1"></i> Back </button>
                <button type="submit" [disabled]="focusDealerForm.invalid" class="mb-2 btn btn-primary"><i
                        class="fa fa-save pr-1"></i> Save </button>
            </div>
        </form>
    </div>
</div>