
<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">{{getComponentTitle()}}</div>
        <!-- <div class="btn-actions-pane-right">
            <button type="button" class="mb-2 mr-2 btn-transition btn btn-outline-success" (click)="fnRouteProdList()">
                <fa class="mr-2" name="list"></fa>
                Back to list
            </button>
        </div> -->
    </div>
    <div class="card-body">
        <form [formGroup]="questionSetForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="position-relative form-group">
                        <label class="required">Title</label>
                        <input type="text" class="form-control" formControlName="title"
                               [ngClass]="{'is-valid':formControls.title.touched && !formControls.title.errors,
                               'is-invalid':formControls.title.touched && formControls.title.errors }" />
                        <small class="text-danger" *ngIf="formControls.title.touched && formControls.title.errors">
                            <span *ngIf="formControls.title.errors.required">Title is <strong>required</strong></span>
                            <span *ngIf="formControls.title.errors.pattern">Please, Enter valid characters (not only spaces)</span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">ELearning Document</label>
                        <ng-select formControlName="eLearningDocumentId" (change)="onChangeELearningDocument()">
                            <!-- <ng-option>--Select--</ng-option> -->
                            <ng-option *ngFor="let ur of eLearningDocuments;" [value]="ur.id">{{ur.label}}</ng-option>
                        </ng-select>
                        <small class="text-danger" *ngIf="formControls.eLearningDocumentId.touched && formControls.eLearningDocumentId.errors">
                            <span *ngIf="formControls.eLearningDocumentId.errors.required">ELearning Document is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="">Depots</label>
                        <ng-select formControlName="depots" [multiple]="true">
                            <!-- <ng-option>--Select--</ng-option> -->
                            <ng-option *ngFor="let ur of depots;" [value]="ur.code">{{ur.name}}</ng-option>
                        </ng-select>
                        <small class="text-danger" *ngIf="formControls.depots.touched && formControls.depots.errors">
                            <span *ngIf="formControls.depots.errors.required">Depots is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Level</label>
                        <input type="number" class="form-control" formControlName="level"
                                [ngClass]="{'is-valid':formControls.level.touched && !formControls.level.errors,
                                'is-invalid':formControls.level.touched && formControls.level.errors }" />
                        <small class="text-danger" *ngIf="formControls.level.touched && formControls.level.errors">
                            <span *ngIf="formControls.level.errors.required">Level is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Total Mark</label>
                        <input type="number" class="form-control" formControlName="totalMark" readonly="readonly"
                                [ngClass]="{'is-valid':formControls.totalMark.touched && !formControls.totalMark.errors,
                                'is-invalid':formControls.totalMark.touched && formControls.totalMark.errors }" />
                        <small class="text-danger" *ngIf="formControls.totalMark.touched && formControls.totalMark.errors">
                            <span *ngIf="formControls.totalMark.errors.required">Total Mark is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Pass Mark</label>
                        <input type="number" class="form-control" formControlName="passMark"
                                [ngClass]="{'is-valid':formControls.passMark.touched && !formControls.passMark.errors,
                                'is-invalid':formControls.passMark.touched && formControls.passMark.errors }" />
                        <small class="text-danger" *ngIf="formControls.passMark.touched && formControls.passMark.errors">
                            <span *ngIf="formControls.passMark.errors.required">Pass Mark is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Time Out (In Minute)</label>
                        <input type="number" class="form-control" formControlName="timeOutMinute"
                                [ngClass]="{'is-valid':formControls.timeOutMinute.touched && !formControls.timeOutMinute.errors,
                                'is-invalid':formControls.timeOutMinute.touched && formControls.timeOutMinute.errors }" />
                        <small class="text-danger" *ngIf="formControls.timeOutMinute.touched && formControls.timeOutMinute.errors">
                            <span *ngIf="formControls.timeOutMinute.errors.required">Time Out is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Start Date</label>
                        <div class="input-group w-100">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="startDateDp" formControlName="startDate" 
                                ngbDatepicker #startDateDp="ngbDatepicker" [minDate]="{year: 2020, month: 1, day: 1}"
                                [maxDate]="{year: 2040, month: 12, day: 31}" [placement]="'bottom'">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="startDateDp.toggle()" type="button"></button>
                            </div>
                        </div>
                        <small class="text-danger" *ngIf="formControls.startDate.touched && formControls.startDate.errors">
                            <span *ngIf="formControls.startDate.errors.required">Start Date is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">End Date</label>
                        <div class="input-group w-100">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="endDateDp" formControlName="endDate" 
                                ngbDatepicker #endDateDp="ngbDatepicker" [minDate]="{year: 2020, month: 1, day: 1}"
                                [maxDate]="{year: 2040, month: 12, day: 31}" [placement]="'bottom'">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="endDateDp.toggle()" type="button"></button>
                            </div>
                        </div>
                        <small class="text-danger" *ngIf="formControls.endDate.touched && formControls.endDate.errors">
                            <span *ngIf="formControls.endDate.errors.required">End Date is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Status</label>
                        <ng-select formControlName="status">
                            <!-- <ng-option>--Select--</ng-option> -->
                            <ng-option *ngFor="let st of actInStatusTypes;" [value]="st.id">{{st.label}}</ng-option>
                        </ng-select>
                        <small class="text-danger" *ngIf="formControls.status.touched && formControls.status.errors">
                            <span *ngIf="formControls.status.errors.required">Status is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <app-p-table [pTableSetting]="ptableSettings" [pTableMasterData]="questionSetCollections"
                        (customActivityOnRecord)="fnCustomTrigger($event)" (cellClickCallbackFn)="fnPtableCellClick($event)">
                    </app-p-table>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="goBack()"><i class="pe-7s-back pr-1"></i> Back </button>
                <button type="submit" [disabled]="questionSetForm.invalid" class="mb-2 btn btn-primary"><i class="fa fa-save pr-1"></i> Save </button>
            </div>
        </form>
    </div>
</div>
