<!-- <p-table #dt [value]="journeyPlanList" [globalFilterFields]="['planDate','status']">
    
    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="row">
                <div class="col-md-4">
                    Journey Plan List
                </div>
                <div class="col-md-4 offset-md-4">
                    <div>
                        <span class="p-input-icon-right m-2 pull-right">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" class="form-control" (keyup.enter)="onSearch()" [(ngModel)]="search" placeholder="Search" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="planDate">Plan Date <p-sortIcon field="planDate"></p-sortIcon></th>
            <th pSortableColumn="employeeName">Employee</th>
            <th pSortableColumn="status">Status</th>
            <th pSortableColumn="comment">Comment</th>
            <th></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-jPlan>
        <tr>
            <td>{{jPlan.planDate }}</td>
            <td>{{jPlan.employeeName }}</td>
            <td>{{jPlan.planStatusInText }}</td>
        
            <td>{{jPlan.comment}}</td>
            <td> <button class="mb-2 ml-2 mr-2 border-0 btn-transition btn btn-success" (click)="onDetail(jPlan)">View Detail</button></td>
        </tr>
    </ng-template> 

    <ng-template pTemplate="summary">
        <p-paginator
                     #paginator
                     [rows]="rows"
                     [totalRecords]="pagingConfig?.totalItemCount"
                     [pageLinkSize]="10"
                     [rowsPerPageOptions]="[10,20]"
                     (onPageChange)="paginate($event)">

        </p-paginator>
    </ng-template>
</p-table> -->
<div class="p-3 bg-white mb-3">
    <full-calendar #fc [options]="calendarOptions"></full-calendar>
</div>