<div class="notification-details">
    <div class="noti-sidebar">
        <h4 class="text-capitalize px-3 pt-3">Notification Details</h4>
        <ul class="sidebar-list p-3">
            <li class="list-item" [ngClass]="{'active':tabOpen==1}" (click)="tabOpen=1"><i class="fa fa-inbox mr-2" aria-hidden="true"></i> <span>Journey Plan</span> 
            <li class="list-item" [ngClass]="{'active':tabOpen==2}" (click)="tabOpen=2"><i class="fa fa-share-square-o mr-2" aria-hidden="true"></i>Dealer Opening</li>
            <!-- <li class="list-item"><i class="fa fa-globe mr-2" aria-hidden="true"></i>All Message</li> -->
        </ul>
    </div>
    <div class="noti-content p-3" *ngIf="tabOpen==1">
        <div class="noti-content-header">
            <div>
                <h4>Journey Plan</h4>
            </div>
           
        </div>
        <div class="noti-content-body">
            <p-table #dt [value]="lstJourneyPlan">
    
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <div class="row">
                            <div class="col-md-4">
                                Pending Journey Plan List
                            </div>     
                        </div>
                    </div>
                </ng-template>
            
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="visitDate">Plan Date <p-sortIcon field="planDate"></p-sortIcon></th>
                        <th pSortableColumn="name">Employee</th>
                        <th pSortableColumn="status">Status</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-jPlan>
                    <tr>
                        <td>{{jPlan.visitDate }}</td>
                        <td>{{jPlan.name }}</td>
                        <td>{{jPlan.status }}</td>
                        <td><a href="/journey-plan/line-manager-detail/{{jPlan.id}}"> Approve</a> </td>
                    </tr>
                </ng-template> 
                <ng-template pTemplate="summary">
                    <p-paginator
                                 #paginator
                                 [rows]="rows"
                                 [totalRecords]="pagingConfig?.totalItemCount"
                                 [pageLinkSize]="10"
                                 [rowsPerPageOptions]="[10,20]"
                                 (onPageChange)="paginate($event)">
                    </p-paginator>
                </ng-template>
            </p-table> 
        </div>
    </div>

    
    <div class="noti-content p-3" *ngIf="tabOpen==2">
        <div class="noti-content-header">
            <div>
                <h4>Dealer Opening</h4>
            </div>
        </div>
        <div class="noti-content-body">
            <p-table #dt [value]="lstDealerOpening">
    
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <div class="row">
                            <div class="col-md-4">
                                Pending dealer opening List
                            </div>     
                        </div>
                    </div>
                </ng-template>
            
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="businessArea">Business Area <p-sortIcon field="businessArea"></p-sortIcon></th>
                        <th pSortableColumn="zone">Zone</th>
                        <th pSortableColumn="currentApprovar">Code</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-jPlan>
                    <tr>
                        <td>{{jPlan.businessArea }}</td>
                        <td>{{jPlan.zone }}</td>
                        <td>{{jPlan.code }}</td>
                        <td><a href="/dealer/openingList/{{jPlan.id}}"> Approve</a> </td>
                    </tr>
                </ng-template> 
                <ng-template pTemplate="summary">
                    <p-paginator
                                 #paginator
                                 [rows]="rows"
                                 [totalRecords]="pagingConfig?.totalItemCount"
                                 [pageLinkSize]="10"
                                 [rowsPerPageOptions]="[10,20]"
                                 (onPageChange)="paginate($event)">
                    </p-paginator>
                </ng-template>
            </p-table> 
        </div>
    </div>
</div>