<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Roles List</div>
        <div class="btn-actions-pane-right">
            <button *ngIf="this.permissionGroup.canCreate" type="button" class="mb-2 mr-2 btn-transition btn btn-outline-info" (click)="fnRouteLinkRoleWithUser()">
                <fa class="mr-2" name="link"></fa>
                Role Link with User
            </button>
            &nbsp;
            <button *ngIf="this.permissionGroup.canCreate" type="button" class="mb-2 mr-2 btn-transition btn btn-outline-success" (click)="fnRouteAddRole()">
                <fa class="mr-2" name="plus"></fa>
                Create New
            </button>
        </div>
    </div>
    <div  class="app-role-list">
        <app-p-table [pTableSetting]="ptableSettings" [pTableMasterData]="roleList"
                        (customActivityOnRecord)="fnCustomTrigger($event)"
                        (cellClickCallbackFn)="fnPtableCellClick($event)">
        </app-p-table>
    </div>
</div>
