<p-table  [value]="dealerOpen.dealerOpeningAttachments">

    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="row">
              
                    <div class="col-sm-6">
                        <p> <label>Business Area :{{dealerOpen.businessArea}}</label> </p>
                    </div>

                    <div class="col-md-6">
                        <p> <label>Sale Office :{{dealerOpen.saleOffice}}</label> </p>
                    </div>

                    <div class="col-md-6">
                        <p> <label>Territory :{{dealerOpen.territoryNo}}</label> </p>
                    </div>

                    <div class="col-md-6">
                        <p> <label>Sale Group :{{dealerOpen.saleGroup}}</label> </p>
                    </div>

                    <div class="col-md-6">
                        <p> <label>Zone :{{dealerOpen.zone}}</label> </p>
                    </div>

                    <div class="col-md-6">
                        <p> <label>Employee Id :{{dealerOpen.employeeId}}</label> </p>
                    </div>

                    

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <button *ngIf="dealerOpen" (click)="onStatusChange(1,dealerOpen)" class="btn btn-sm btn-primary">Approve</button>
                        <button *ngIf="dealerOpen" (click)="onStatusChange(3,dealerOpen)" class="btn btn-sm btn-danger ml-2">Reject</button>
                    </div>
                    <div class="col-md-5">
                        <textarea style="display:inline"  [(ngModel)]="dealeropening.comment" placeholder="comment...." class="form-control"></textarea>
                    </div>
            
                </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Name</th>
            <th pSortableColumn="path">Image</th>
        </tr>
    </ng-template>
<br/>
    <ng-template pTemplate="body" let-dealerOpen>
        <tr>
            <td>
                <!-- <img [alt]="dealerOpen.name" src="{{baseUrl}}/{{dealerOpen.path}}" width="60"
                style="vertical-align: middle; border-radius: 50%;" /> -->
                <span class="">
                    <strong>
                        <a href="{{dealerOpen.path}}" target="_self" download [class.disabled]="!dealerOpen.path" >{{dealerOpen.name}} </a>
                    </strong>
                </span>
            </td>
            <td><img [alt]="dealerOpen.name" src="{{dealerOpen.path}}" width="60"
                style="vertical-align: middle; border-radius: 5%;" /></td>

        </tr>
    </ng-template>


 

    

</p-table>

<p-table  [value]="dealerOpen.dealerOpeningLogs">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="userName">User Name</th>
            <!-- <th pSortableColumn="dealerOpeningId">Dealer Opening Id</th> -->
            <th pSortableColumn="propertyName">Property Name</th>
            <th pSortableColumn="propertyValue">Property Value</th>


        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-dealerOpenlog>
        <tr>
            <td>
                {{dealerOpenlog.userid}}
            </td>
            <!-- <td>
                {{dealerOpenlog.dealerOpeningId}}
            </td> -->
            <td>
                Approve
            </td>
            <td>
                <p *ngIf="dealerOpenlog.propertyValue==1">Yes</p>
                <p *ngIf="dealerOpenlog.propertyValue==3">No</p>
            </td>

        </tr>
    </ng-template>

    <ng-template pTemplate="footer">
        <button class="btn mt-2 mb-2 btn-sm btn-primary" type="button" (click)="back()">Back To List</button>
    </ng-template>
</p-table>
<!--{{dealerOpen|json}}-->