<div class="modal-header">
    <!--<h5 class="modal-title">Painter Company MTD Value</h5>-->
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="col col-md-12">
        <app-p-table [pTableSetting]="ptableSettings" [pTableMasterData]="painterCompanyMTDValue">
        </app-p-table>
    </div>
    <div class="col col-md-12">
        <app-p-table [pTableSetting]="attachedDealersPtableSettings" [pTableMasterData]="attachedDealers">
        </app-p-table>
    </div>
</div>