/* for image start ---*/
.file-preview input {
    display: none;
}

.file-container {
    position: relative;
    cursor:pointer;
    border: 2px dashed rgba(0, 0, 0, 0.05);
}

.file-container img {
    width: 100%;
    height: 100%;
}

.file-container .plus {
    position: absolute;
    top: 47%;
    left: 47%; 
    color: #2bbbad;
}
.file-container .plus i {
    font-size: 30px;
}

.file-container .remove {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color:#ff5630;
}
.input-file .remove{
    position: absolute;
    right: 27px;
    top: 5px;
    font-size: 25px;
    color: #d92550;
    cursor: pointer;
}

/* for image end ---*/