


<p-table #dt [value]="schemeMasterList"
         [globalFilterFields]="['schemeName','condition']">
    <ng-template pTemplate="caption">
        <div class="table-header">

            <div class="row">
                <div class="col-md-4">
                    Scheme Master List
                </div>

                <div class="col-md-4 offset-md-4">
                    <button class="btn btn-sm btn-primary ml-2 pull-right" (click)="add()">New Record</button>
                    <span class="p-input-icon-right  pull-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" class="form-control" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                    </span>

                </div>
            </div>


        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="schemeName">Scheme Name<p-sortIcon field="schemeName"></p-sortIcon></th>
            <th pSortableColumn="condition">Condition <p-sortIcon field="condition"></p-sortIcon></th>

            <th>

            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-scheme>
        <tr>
            <td>{{scheme.schemeName }}</td>
            <td>
                {{scheme.condition}}
            </td>
            <td>
                <i class="fa fa-edit mr-2" (click)="edit(scheme.id)"> </i>
                <i class="fa fa-trash" (click)="delete(scheme.id)"> </i>
                <button class="mb-2 ml-2 mr-2 border-0 btn-transition btn btn-success" (click)="detail(scheme)">
                    View Detail
                </button>
            </td>
        </tr>
    </ng-template>

</p-table>