<div class="card-shadow-warning border mb-3 card card-body border-warning">
    <h5 class="card-title"><strong>Dealer Sales Call Details:</strong></h5>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Employee Name:</strong></span> {{dealerSalesCall.userFullName}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Dealer Name:</strong></span> {{dealerSalesCall.dealerName}}</p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Is Target Promotion Communicated:</strong></span> {{dealerSalesCall.isTargetPromotionCommunicatedText}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Is Target Communicated:</strong></span> {{dealerSalesCall.isTargetCommunicatedText}}</p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Secondary Sales Ratings:</strong></span> {{dealerSalesCall.secondarySalesRatingsText}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Secondary Sales Reason Title:</strong></span> {{dealerSalesCall.secondarySalesReasonTitle}}</p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Secondary Sales Reason Remarks:</strong></span> {{dealerSalesCall.secondarySalesReasonRemarks}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Has OS:</strong></span> {{dealerSalesCall.hasOSText}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Is OS Communicated:</strong></span> {{dealerSalesCall.isOSCommunicatedText}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Has Slippage:</strong></span> {{dealerSalesCall.hasSlippageText}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Is Slippage Communicated:</strong></span> {{dealerSalesCall.isSlippageCommunicatedText}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Is Premium Product Communicated:</strong></span> {{dealerSalesCall.isPremiumProductCommunicatedText}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Is Premium Product Lifting:</strong></span> {{dealerSalesCall.isPremiumProductLiftingText}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Premium Product Lifting:</strong></span> {{dealerSalesCall.premiumProductLiftingText}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Premium Product Lifting Others:</strong></span> {{dealerSalesCall.premiumProductLiftingOthers}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Is CB Installed:</strong></span> {{dealerSalesCall.isCBInstalledText}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Is CB Productivity Communicated:</strong></span> {{dealerSalesCall.isCBProductivityCommunicatedText}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Merchendising:</strong></span> {{dealerSalesCall.merchendisingText}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Has Sub Dealer Influence:</strong></span> {{dealerSalesCall.hasSubDealerInfluenceText}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Sub Dealer Influence:</strong></span> {{dealerSalesCall.subDealerInfluenceText}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Has Painter Influence:</strong></span> {{dealerSalesCall.hasPainterInfluenceText}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Painter Influence:</strong></span> {{dealerSalesCall.painterInfluenceText}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Is Shop Man Product Knowledge Discussed:</strong></span> {{dealerSalesCall.isShopManProductKnowledgeDiscussedText}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Is Shop Man Sales Techniques Discussed:</strong></span> {{dealerSalesCall.isShopManSalesTechniquesDiscussedText}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Is Shop Man Merchendizing Improvement Discussed:</strong></span> {{dealerSalesCall.isShopManMerchendizingImprovementDiscussedText}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Has Competition Presence:</strong></span> {{dealerSalesCall.hasCompetitionPresenceText}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Is Competition Service Better Than BPBL:</strong></span> {{dealerSalesCall.isCompetitionServiceBetterThanBPBLText}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Competition Service Better Than BPBL Remarks:</strong></span> {{dealerSalesCall.competitionServiceBetterThanBPBLRemarks}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Is Competition Product Display Better Than BPBL:</strong></span> {{dealerSalesCall.isCompetitionProductDisplayBetterThanBPBLText}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Competition Product Display Better Than BPBL Remarks:</strong></span> {{dealerSalesCall.competitionProductDisplayBetterThanBPBLRemarks}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Competition Product Display Image:</strong></span> 
                    <!-- {{dealerSalesCall.competitionProductDisplayImageUrl}} -->
                    <img *ngIf='dealerSalesCall.competitionProductDisplayImageUrl' [src]="dealerSalesCall.competitionProductDisplayImageUrl" alt="Photo" width="150px" height="180px">
                </p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Competition Scheme Modality Comments:</strong></span> {{dealerSalesCall.competitionSchemeModalityComments}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Competition Scheme Modality Image:</strong></span> 
                    <!-- {{dealerSalesCall.competitionSchemeModalityImageUrl}} -->
                    <img *ngIf='dealerSalesCall.competitionSchemeModalityImageUrl' [src]="dealerSalesCall.competitionSchemeModalityImageUrl" alt="Photo" width="150px" height="180px">
                </p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Competition Shop Boys Comments:</strong></span> {{dealerSalesCall.competitionShopBoysComments}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Has Dealer Sales Issue:</strong></span> {{dealerSalesCall.hasDealerSalesIssueText}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Dealer Satisfaction:</strong></span> {{dealerSalesCall.dealerSatisfactionText}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Dealer Satisfaction Reason:</strong></span> {{dealerSalesCall.dealerSatisfactionReason}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Is Sub Dealer Call:</strong></span> {{dealerSalesCall.isSubDealerCallText}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Has BPBL Sales:</strong></span> {{dealerSalesCall.hasBPBLSalesText}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>BPBL Average Monthly Sales: </strong></span> <span *ngIf="dealerSalesCall.bPBLAverageMonthlySales" [numberFormatColor]="dealerSalesCall.bPBLAverageMonthlySales"></span> </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>BPBL Actual MTD Sales: </strong></span> <span *ngIf="dealerSalesCall.bPBLActualMTDSales" [numberFormatColor]="dealerSalesCall.bPBLActualMTDSales"></span></p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Date:</strong></span> {{dealerSalesCall.dateText}}</p>
            </div>
        </div>
    </div>

    <div class="col col-md-12">
        <app-p-table [pTableSetting]="dcs_ptableSettings" [pTableMasterData]="dealerCompetitionSales">
        </app-p-table>
    </div>

    <div class="col col-md-12">
        <app-p-table [pTableSetting]="dsi_ptableSettings" [pTableMasterData]="dealerSalesIssues">
        </app-p-table>
    </div>
    
    <div class="d-flex justify-content-end">
        <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="backToTheList()"><i
                class="pe-7s-back pr-1"></i> Back </button>
    </div>
</div>