
<p-table *ngIf="journeyPlanList!=null" #dt [value]="journeyPlanList"
         [globalFilterFields]="['planDate','status']">
    <ng-template pTemplate="caption">
        <div class="table-header">

            <div class="row">
                <div class="col-md-4">
                    Journey Plan List
                </div>

                <div class="col-md-4 offset-md-4">
                    <button class="btn btn-sm btn-primary mr-2 pull-right" (click)="add()">New Record</button>
                    <div>
                        <span class="p-input-icon-right m-2 pull-right">
                            <i class="pi pi-search" (click)="onSearch()"></i>
                            <input pInputText type="text" class="form-control" (keyup.enter)="onSearch()"   [(ngModel)]="search" placeholder="Search" />

                        </span>
                    </div>
                </div>
            </div>


        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="planDate">Plan Date <p-sortIcon field="planDate"></p-sortIcon></th>
            <th pSortableColumn="firstName">Employee <p-sortIcon field="firstName"></p-sortIcon></th>
            <th pSortableColumn="planStatus">Status <p-sortIcon field="planStatus"></p-sortIcon></th>
            <th pSortableColumn="comment">Comment <p-sortIcon field="comment"></p-sortIcon></th>

            <th>

            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-jPlan>
        <tr>
            <td>{{jPlan.planDate}}</td>
            <td>{{jPlan.employeeName }}</td>
            <td>{{jPlan.planStatusInText}}</td>
            <td>{{jPlan.comment }}</td>
            <td>
                <i class="fa fa-edit mr-2" (click)="edit(jPlan)"> </i>
                <i class="fa fa-trash" (click)="delete(jPlan)"> </i>
                <button class="mb-2 ml-2 mr-2 border-0 btn-transition btn btn-success" (click)="detail(jPlan)">
                    View Detail
                </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <p-paginator #paginator
                     [rows]="rows"
                     [totalRecords]="pagingConfig?.totalItemCount"
                     [pageLinkSize]="10"
                     [rowsPerPageOptions]="[10,20]"
                     (onPageChange)="paginate($event)"></p-paginator>
    </ng-template>
</p-table>