<div class="header-dots">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-link p-0 mr-2 dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
      <span>
        <div class="icon-wrapper icon-wrapper-alt rounded-circle">
          <div class="icon-wrapper-bg bg-danger"></div><i class="fa fa-bell-o text-danger" aria-hidden="true"
            title="bullhorn"></i>
          <div class="badge badge-danger badge-number " *ngIf="pendingWorkflowCount!=0">{{pendingWorkflowCount}}</div>
        </div>
      </span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="p-0" style="width: 320px;">
      <div class="notification-header text-center text-white bg-primary p-3">
        <h5>Notifications</h5>
        <p class="mb-0">You have <strong>{{pendingWorkflowCount}}</strong> pending request</p>
      </div>
      <div class="notification-body p-3">
        <ngb-tabset>
          <ngb-tab title="Journey Plan">
            <ng-template ngbTabContent>
              <perfect-scrollbar style="max-width: 320px; max-height: 250px;" [autoPropagation]="true" >
                <p-table #dt [value]="lstList">
                 
                  
                  <ng-template pTemplate="body" let-dealer>
                      <tr>
                          <td><a href="/journey-plan/line-manager-detail/{{dealer.id}}"><strong>{{dealer.name }}</strong> is waiting for approval.</a></td>
                      </tr>
                  </ng-template>
              </p-table>

              </perfect-scrollbar>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Dealer Opening</ng-template>
            <ng-template ngbTabContent>
              <perfect-scrollbar style="max-width: 320px; max-height: 250px;" [autoPropagation]="true" > 
              
              </perfect-scrollbar>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="notification-footer px-3 py-2 text-center border-top">

        <button type="button" class="btn-transition btn btn-outline-success" (click)="fnRouteNotification()">
          <fa class="mr-2" name="list"></fa>
          View All Notification
        </button>
      </div>
    </div>
  </div>
</div>