// User Pages

.app-logo {
  height: $logo-height;
  width: $logo-width;
  background: url('./assets/images/logo-inverse.png');
}

.app-logo-inverse {
  height: $logo-height;
  width: $logo-width;
  background: url('./assets/images/logo.png') no-repeat;
}

.app-login {
  width: 500px;
  padding: 50px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  .login-title {
    display: block;
    font-size: 30px;
    color: #555555;
    text-align: center;
    margin-bottom: 30px;
  }
  .form-control-login{
    height: 68px;
  }
  .btn-login{
    height: 68px;
    background-color: #4272d7;
    padding: 20px;
  }
  .not-account{
    color: #999999;
  }
}
