
<div class="card-shadow-warning border mb-3 card card-body border-warning">
    <h5 class="card-title"><strong>Brand Info Details:</strong></h5>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong> Material Group/Brand: </strong>{{brandInfo.materialGroupOrBrand}}</span></p>
            </div>
            
            <div class="col-sm-6">
                <p><span><strong> Material Description: </strong>{{brandInfo.materialDescription}}</span></p>
            </div>



        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong> Material Code: </strong>{{brandInfo.materialCode}}</span></p>
            </div>
            <div class="col-sm-6">
                <p><span><strong> Pack Size: </strong>{{brandInfo.packSize}}</span></p>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong> Division: </strong>{{brandInfo.division}}</span></p>
            </div>
        </div>
    </div>
    <div class="col col-md-12">
        <app-p-table [pTableSetting]="ptableSettings" [pTableMasterData]="brandInfoLogs">
        </app-p-table>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="backToTheList()">
            <i class="pe-7s-back pr-1"></i> Back
        </button>
    </div>
</div>


