
.menu-list-area .custom-control-input ~ .custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background: #2bbbad linear-gradient(180deg, #4bc5b9, #2bbbad) repeat-x;
}
.menu-list-area .role-dropdown-item .custom-control-input ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='%23fff' stroke='%23fff' stroke-width='5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-plus'%3E%3Cline x1='12' y1='5' x2='12' y2='19'%3E%3C/line%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
}

.menu-list-area .role-dropdown-item .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-minus'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
}
.menu-list-area .role-dropdown-item.last .custom-control-input ~ .custom-control-label::after,
.menu-list-area .role-dropdown-item.last .custom-control-input:checked ~ .custom-control-label::after{
    display: none;
}
