<div *ngIf="painter" class="card-shadow-warning border mb-3 card card-body border-warning">
    <!--<h4 class="card-title"><strong>Painter Details:</strong></h4>-->
    <div class="card-body">
        <div class="row justify-content-md-center">
            <div class="col-sm-3 border">
                <div class="text-center">
                    <img src="{{baseUrl}}/{{painter.painterImageUrl}}" style="border-radius: 50%;"
                         class="avatar img-circle img-thumbnail" alt="avatar">
                </div>
                <br>
                <div class="text-center">
                    <h6>{{painter.painterName}}</h6>
                    <h6>{{painter.phone}}</h6>
                    <h6>{{painter.address}}</h6>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Depot:</strong></span> {{painter.depot}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Depot Name:</strong></span> {{painter.depotName}}</p>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Sale Group:</strong></span> {{painter.saleGroup}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Sale Group Name:</strong></span> {{painter.saleGroupName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Zone:</strong></span> {{painter.zone}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Zone Name:</strong></span> {{painter.zoneName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Territory:</strong></span> {{painter.territory}}</p>

            </div>
            <div class="col-sm-6">
                <p><span><strong>Territory Name:</strong></span> {{painter.territoryName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Has Dbbl:</strong></span> {{painter.hasDbbl}}</p>

            </div>
            <div class="col-sm-6">
                <p><span><strong>Is App Installed:</strong></span> {{painter.isAppInstalled}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Acc Dbbl Number:</strong></span> {{painter.accDbblNumber}}</p>

            </div>
            <div class="col-sm-6">
                <p><span><strong>Acc Dbbl Holder Named:</strong></span> {{painter.accDbblHolderName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Passport No:</strong></span> {{painter.passportNo}}</p>

            </div>
            <div class="col-sm-6">
                <p><span><strong>NationalId No:</strong></span> {{painter.nationalIdNo}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>BrithCertificateNo No:</strong></span> {{painter.brithCertificateNo}}</p>

            </div>
            <div class="col-sm-6">
                <p><span><strong>Employee Id:</strong></span> {{painter.employeeId}}</p>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>PainterCat Id:</strong></span> {{painter.painterCatId}}</p>

            </div>
            <div class="col-sm-6">
                <p><span><strong>PainterCat Name:</strong></span> {{painter.painterCatName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Average Monthly Value:</strong></span> {{painter.avgMonthlyVal}}</p>

            </div>
            <div class="col-sm-6">
                <p><span><strong>Remark:</strong></span> {{painter.remark}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Loyality:</strong></span> {{painter.loyality}}</p>
            </div>
        </div>
    </div>
</div>


<!--<ul class="list-group">
    <li class="list-group-item text-muted">Attachment List</li>
    <li *ngFor="let attachment of painter.attachments" class="list-group-item">
        <span class="">
            <strong>
                <a target="_blank" href="{{baseUrl}}/{{attachment.path}}">{{attachment.name}}</a>
            </strong>
        </span>
    </li>

</ul>-->


