
<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Create New Organization Role</div>
        <div class="btn-actions-pane-right">
            <!--<button type="button" class="mb-2 mr-2 btn-transition btn btn-outline-success" (click)="fnRouteOrganizationRoleList()">
                <fa class="mr-2" name="list"></fa>
                Back to list
            </button>-->
        </div>
    </div>
    <div class="card-body">
        <form #roleForm="ngForm" (submit)="fnSaveRole()">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label for="name">Organization Role Name</label>
                        <input required name="name" #name="ngModel" type="text" class="form-control" autocomplete="off"
                               [ngClass]="{'is-valid':name.valid,'is-invalid':name.invalid && name.touched }"
                               [(ngModel)]="roleModel.name" />
                        <small class="text-danger" [class.d-none]="name.valid || name.untouched">
                            Role name is required
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label for="status">Status</label>
                        <ng-select name="status" #status="ngModel" [(ngModel)]="roleModel.status">
                            <ng-option *ngFor="let key of enumStatusTypes;" [value]="key.id">{{key.label}}</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label for="designationId">Market Hierarchy</label>
                        <ng-select required #designationId="ngModel" name="designationId" [multiple]="false" [(ngModel)]="roleModel.designationId"
                                   [ngClass]="{'is-valid':designationId.valid,'is-invalid':designationId.invalid && designationId.touched }">
                            <ng-option *ngFor="let key of hierarchyType;" [value]="key.id">{{key.hierarchyName}}</ng-option>

                        </ng-select>
                        <small class="text-danger" [class.d-none]="designationId.valid || designationId.untouched">
                            Hierarchy is required
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label for="name">Select User</label>
                        <ng-select required name="userInfoId" #userInfoId="ngModel" [multiple]="true" [(ngModel)]="roleMappingModel.userIds" [ngClass]="{'is-valid':userInfoId.valid,'is-invalid':userInfoId.invalid && userInfoId.touched }">
                            <ng-option *ngFor="let userInfo of userInfoList; index as i" [value]="userInfo.id"> {{userInfo.name}} </ng-option>
                        </ng-select>
                        <small class="text-danger" [class.d-none]="userInfoId.valid || userInfoId.untouched">
                            User is required
                        </small>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="fnRouteOrganizationRoleList()"><i class="pe-7s-back pr-1"></i> Back </button>
                <button [disabled]="!roleForm.valid" type="submit" class="mb-2 btn btn-primary"><i class="fa fa-save pr-1"></i> Save </button>
            </div>
        </form>
    </div>
</div>